*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{} */

header{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
nav-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}